table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    height: 500px;
}

td {
    border: 5px solid #000;
}

.yellow {
    background-color: gold;
}

.flat {
    height: 30px;
}

.slim {
    width: 30px;
}

.big {
    height: 80px;
    width: 80px;
}

.red {
    background-color: red;
}

.tall {
    height: 40px;
    width: 55px;
}

.black {
    background-color: black;
}

.square {
    width: 25px;
}

.blue {
    background-color: darkblue;
}