table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    height: 500px;
}

td {
    border: 5px solid #000;
}

.flat {
    height: 30px;
}

.slim {
    width: 30px;
} 

.big {
    height: 15px;
    width: 15px;
}

.tall {
    height: 5px;
}

.left {
    width: 60px;
}
.square {
    width: 1px;
    height: 5px;
}

.blue {
    background-color: darkblue;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: gold;
}